<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="style.css" />
		<script src="./libs/vue.js"></script>
	</head>
	<body class="text-gray-800">
		<!--A10,10 0 0,1 45,125 -->
		<div id="app">
			<div class="flex justify-center flex-wrap">
				<div v-if="!start"
			class="flex justify-center content-center flex-wrap w-full h-screen bg-gray-100"
					>
					<Greeting @skip="start = true" />
				</div>
				<div v-else class="w-1/3">
					<div class="flex justify-center">
						<wheel ref="wheel" />
					</div>
					<button
						@click="isOpen = true;"
						class="w-full rounded mt-10 md:p-2 p-1 bg-mint shadow-md mb-1"
						id="category"
					>
						Choose Category
					</button>
					<div v-if="isOpen">
						<ul class="cursor-pointer">
							<li
								@click="selectCategory(1)"
								id="1"
								class="bg-gray-light rounded p-2"
							>
								vegan
							</li>
							<li
								@click="selectCategory(2)"
								id="2"
								class="bg-gray-lighter rounded p-2"
							>
								vegetarian
							</li>
							<li
								@click="selectCategory(3)"
								id="3"
								class="bg-gray-light rounded p-2"
							>
								non-vegetarian
							</li>
							<li
								@click="selectCategory(4)"
								id="4"
								class="bg-gray-lighter rounded p-2"
							>
								none
							</li>
						</ul>
					</div>
					<button
						@click="startSpinning"
						class="w-full rounded mt-4 md:p-2 p-1 bg-mint shadow-md"
					>
						Spin the wheel
					</button>
					<div class="w-full p-1">
						<h1 class="mt-5 text-xl font-bold">{{recipename}}</h1>
						<div>{{servings}}</div>
					</div>
					<div class="flex w-full">
						<button
							@click="showIngredients = true; attachPurple = true"
							:class="{purple: attachPurple}"
							class="w-1/2 rounded md:p-3 p-1 shadow-md bg-gray-light mt-2"
						>
							Ingredients
						</button>
						<button
							@click="showIngredients = false; attachPurple = false"
							:class="{purple: !attachPurple}"
							class="w-1/2 rounded md:p-3 p-1 shadow-md bg-gray-light ml-3 mt-2"
						>
							Method
						</button>
					</div>
					<div v-show="showIngredients" class="w-full mt-4">
						<ul
							v-for="(ingredient, index) in specifiedIngredients"
							class="rounded"
						>
							<li v-if="index % 2 == 0" class="bg-gray-light rounded p-2">
								{{ingredient}}
							</li>
							<li v-if="index % 2 != 0" class="bg-gray-lighter rounded p-2">
								{{ingredient}}
							</li>
						</ul>
					</div>
					<div v-show="!showIngredients" class="w-full mt-4">
						<ul
							v-for="(instruction, index) in specifiedInstructions"
							class="rounded"
						>
							<li v-if="index % 2 == 0" class="bg-gray-light rounded p-2">
								{{instruction}}
							</li>
							<li v-if="index % 2 != 0" class="bg-gray-lighter rounded p-2">
								{{instruction}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="./recipes.js"></script>
		<script src="./components/greeting.js"></script>
		<script src="./components/wheel.js"></script>
		<script src="./app.js"></script>
	</body>
</html>
