@tailwind base;

@railwind components;

@tailwind utilities;

.red {
    background-color: red;
}
.bg-gray-light {
    background: #e9e9e9;
}
.bg-mint {
    background: #B6FFF1;
}
.purple {
    background: #FFB6FC;
}
.bg-gray-lighter {
    background: #F9F9F9;
}
.height-50 {
    height: 50%;
}
.height-70 {
    height: 70%;
}

.rotate {
    animation-name: rotation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


